/*OWN CSS CLASS TO APPLY MARGINS WHERE NEEDED*/

.wrapper {
    
    margin-bottom:1em!important;
}

.alert-margin {
    
    margin-top:0.8em!important;
}

.search-margin {
    
    margin-bottom:0.8em!important;
}

.asterick{
    
    font-weight: 800;
    font-weight: bold;
    color:red;
}